
.navbar {
    border-bottom: 2px solid #F7BF81; 
    padding-bottom: 0;
  }

 
  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FFA500; 
}
  
  .navbar-brand h2 {
      font-family: "Indie Flower", cursive;
      font-weight: 400;
      font-style: normal;
  }

  .navbar-brand h2:hover {
    transition: color 0.3s ease;
}

  .navbar-brand h2:hover {
    color: #FFA500; 
  }
  

body {
    padding: 2rem;
    background-color: #f8fcff
};


.col-md-12 h2{
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

#recipes-notebook .col-md-4 a.quick-links {
  text-decoration: none;
  color: grey;
}

#recipes-notebook .col-md-4 a:hover {
  transition: color 0.3s ease;
}

#recipes-notebook .col-md-4 a:hover {
  text-decoration: none;
  color: #FFA500;  
}

.d-grid button {
  background-color: black;
  border: none;
}

.d-grid button {
  transition: color 0.3s ease;
}

.d-grid button:hover{
  background-color: #FFA500; 
}

.container-fluid pt-4 mt-4 disclaimer {
  padding-left: 1rem;
  padding-right: 1rem;
}




