.navbar {
    border-bottom: 4px solid #F7BF81; 
    padding-bottom: 0;
  }

  .navbar-nav .nav-item .nav-link  {
    padding-left: 14px;
    padding-right: 14px;
  }

 
  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FFA500;
}
  
  .navbar-brand h2 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    color: #F7BF81;
    /* font-style: normal; */
  }

  .navbar-brand h2:hover {
    transition: color 0.3s ease;
}

  .navbar-brand h2:hover {
    color: #FFA500; 
  }
  

body {
    padding: 2rem;
    background-color: #f8fcff
};

.col-md-12 h2{
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

#recipes-notebook .col-md-4 a.quick-links {
  text-decoration: none;
  color: #777777;
}

#join-us {
  color: whitesmoke;
  font-weight: bolder;
  background-color: #FFA500;
  letter-spacing: 4px;
  border: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#sign-up .card {
  border: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#sign-up .card-header {
  color: #777777;
  background-color: #FFD4A6;
  border: transparent;
}

#sign-up input {
  border: 1px solid #e2e2e2;
}

#sign-up input {
  transition: color 0.3s ease;
}

#sign-up input:hover {
  color: #FFA500;
  border: 1px solid #FFA500;
}

#sign-up .btn.btn-primary {
  color: #F7BF81;
  font-weight: bold;
  background: transparent;
  border: 1px solid #e2e2e2;
}

#sign-up .btn.btn-primary {
  transition: color 0.3s ease;
}

#sign-up .btn.btn-primary:hover {
  color: #FFA500;
  border: 1px solid #FFA500;
}


#sign-up .card-footer {
  color: #777777;
  background-color: #FFD4A6;
  border: transparent;
}

#recipes-notebook .col-md-4 a:hover {
  transition: color 0.3s ease;
}

#recipes-notebook .col-md-4 a:hover {
  text-decoration: none;
  color: #FFA500;  
}

.d-grid button {
  background-color: black;
  border: none;
}

.d-grid button {
  transition: color 0.3s ease;
}

.d-grid button:hover{
  background-color: #FFA500; 
}

.container-fluid pt-4 mt-4 disclaimer {
  padding-left: 1rem;
  padding-right: 1rem;
}