

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake Abroad</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>

<body>
    <!-- responsive container -lg below it, it takes full screen -->
   <div class="container-md"> 
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
                <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/French%20Rolls.jpg" 
          alt="French Rolls" width="100%" >
          <div>
            <h5 class="entry-title">FRENCH ROLLS</h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
                <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/yt083_pao-de-parmesao-com-oregano_receita02.jpg" 
          alt="Parmesan Oregano Bread" width="100%" >
          <div>
            <h5 class="entry-title">PARMESAN OREGANO BREAD</h5>
          </div>
        </div>
        
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
                <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/yt-055_pao-de-alho_receita.jpg" 
          alt="Garlic Bread" width="100%"  >
          <div>
            <h5 class="entry-title">GARLIC BREAD</h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
                <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/yt-042_pao-frances-de-hamburguer_receita-300x193.jpg" 
          alt="Savory Hamburguer Buns" width="100%" >
          <div>
            <h5 class="entry-title">SAVORY HAMBURGUER BUNS</h5>
          </div>
        </div>

<!-- stuffed -->
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
            <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/yt-054_enroladinho-de-salsicha_receita.jpg" 
          alt="Pigs in a blanket" width="100%" >
          <div>
            <h5 class="entry-title">PIGS IN A BLANKET</h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
            <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/receita-joelho-ou-enroladinho.jpg" 
          alt="Ham & Cheese Stuffed Bread" width="100%" >
          <div>
            <h5 class="entry-title">HAM & CHEESE STUFFED BREAD</h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
            <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/focaccia_1200x800-300x200.jpg" 
          alt="Focaccia" width="100%" >
          <div>
            <h5 class="entry-title">FOCACCIA</h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mt-3">
            <img src="https://raw.githubusercontent.com/rejaraujo/BakeAbroad/main/public/images/yt084_focaccia-de-batata_receita.jpg" 
          alt="Potato Focaccia" width="100%" >
          <div>
            <h5 class="entry-title">POTATO FOCACCIA</h5>
          </div>
        </div>




    </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>